<!doctype html>
<html>
  <head>
  </head>

  <body>
    <header>
      <h1>Tasks</h1>
    </header>

    <!-- To Do Section -->
    <div class='still-todo'>
      <h2>To Do:</h2>

      <!-- Success message -->
      {{ #success }}
        <p>Task added</p>
      {{ /success }}
      {{ ^success }}
        <p>Please add task</p>
      {{ /success }}

      <!-- TASK FORM -->
      <form method='post' action='/'>
        <label for='todo'></label>
        <input type='text' id='todo' name='task' placeholder='Add task'>

        <input type='submit' value='Add'>
      </form>

      <!-- DISPLAY TASKS TO BE DONE -->
      <ul>
        {{ #honeyDo }}
        {{ ^Completed }}
        <li>
          <form method='post' action='/{{id}}'>
            <input type='submit' value='Completed'>
            {{ task }}
          </form>
        </li>
        {{ /Completed }}
        {{ /honeyDo }}
      </ul>
    </div>

    <!-- COMPLETED TASKS -->
    <div class='done'>
      <h2>Completed:</h2>

      <!-- DISPLAY COMPLETED TASKS -->
      <ul>
        {{ #honeyDo }}
        {{ #Completed }}
          <li>
            {{ task }}
          </li>
        {{ /Completed }}
        {{ /honeyDo }}
      </ul>
    </div>

  </body>
</html>
